@model IEnumerable<ProiectEB.Models.Recenzie>

@{
    ViewData["Title"] = "Recenzii";
}

<h1 class="text-warning fw-bold">Recenzii</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Adaugă Recenzie Nouă</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Client</th>
            <th>Produs</th>
            <th>Evaluare</th>
            <th>@Html.DisplayNameFor(model => model.Comentariu)</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Client.Nume)</td>
                <td>@Html.DisplayFor(modelItem => item.Produs.Nume)</td>
                <td>@($"{item.Evaluare}/5")</td>
                <td>@Html.DisplayFor(modelItem => item.Comentariu)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
